<div class="row">
    <div class="small-12 columns text-center">
        <h2 class="pageHeader">Docker Scale Demo</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-6 columns">
        <table>
            <thead>
            <tr>
                <th class="text-center">Web API Hostname / Container ID</th>
                <th class="text-center">Number of Hits</th>
            </tr>
            </thead>
            <tbody>
            {{#each model as |item|}}
                <tr>
                    <td class="text-center">{{item.instance}}</td>
                    <td class="text-center">{{item.hits}}</td>
                </tr>
            {{else}}
                <tr><td>No data.</td></tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="small-12 medium-6 columns">
      {{c3-chart data=chartData config=chartConfig}}
        <div class="panel radius">
          <div>Total instances: <span class="label">{{model.length}}</span></div>
          <div>Updated at: <span class="label">{{lastUpdated}}</span></div>
        </div>
        <button {{action 'reset'}} class="radius secondary expand">Reset Stats</button>
    </div>
</div>
{{outlet}}
{{view "foundation"}}
